# ??? ??? ??
/shelf/
/workspace.xml
# Rider?? ??? ??
/.idea.scss.iml
/contentModel.xml
/modules.xml
/projectSettingsUpdater.xml
# ??? ?? HTTP ????? ??
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
