---
layout: page
title: MyBlogs
---
<!-- blog --> <!--blog 페이지의 구성구역-->
<section class="section">
  <div class="container">
    <div class="row">
      {% for post in site.posts offset:0 limit:6%} <!--이 post가 읽어들인 마크다운파일-->
      {% include post.html %}
      {% endfor %}
    </div>
  </div>
</section>
<!-- /blog -->

<!-- clients -->
<!-- 블로그 나의고객
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">My Clients</h2>
      </div>
    </div>
    {% include client-slider.html %}
  </div>
</section>
-->
<!-- /clients -->