---
layout: default
---

{% include hero-section.html %} <!--대제목-->

{% include about-section.html %} <!--메인 나의소개-->

{% include myskills-section.html %}<!--내가할수있는 기술(커스텀)-->

{% include skills-section.html %} <!--내가할수있는 기술(퍼센트)-->

{% include portfolio-section.html %}<!--포트폴리오-->

{% include experience-section.html %} <!--이전이력-->

{% include services-section.html %} <!--내가 제공하는 스킬-->

{% include education-section.html %} <!--내가받은 교육-->

{% include testimonial-section.html %} <!--추천서-->

{% include client-section.html %} <!--내가 제공한 고객-->

{% include blog-section.html %} <!--게시글-->