<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
$(document).ready(function(){
  $.ajax({
    url: "https://v2.velog.io/rss/@dksduddnr33",
    dataType: "xml",
    success: function(data){
      $(data).find("item").each(function(){
        var el = $(this);
        var title = el.find("title").text();
        var link = el.find("link").text();
        var description = el.find("description").text();
        $("#rss-content").append("<div><a href='"+link+"'><h3>"+title+"</h3></a><p>"+description+"</p></div>");
      });
    }
  });
});
</script>
<div id="rss-content"></div>

<!--rss 읽어오는지 확인할것-->
