{% if site.data.settings.mytraits %}
<!-- mytraits -->
<section class="section" style="background-color: #f0f0f0">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">{{ site.data.settings.mytraits-title }}</h2>
            </div>
            {% for mytraits in site.data.settings.mytraits %}
            <div class="col-md-4 mb-4 mb-md-0">
                <div class="card hover-shadow shadow">
                    <div class="card-body {% if mytraits.active %}active-bg-primary{% endif %} text-center px-4 py-5">
                        <i class="{{ mytraits.icon }} icon mb-5 d-inline-block"></i>
                        <h4 class="mb-4">{{ mytraits.name }}</h4>
                        <p>{{ mytraits.description }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- /mytraits -->
{% endif %}