{% if site.data.settings.portfolio-home-items %}
<!-- portfolio -->
<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="section-title">Portfolio</h2>
            </div>
        </div>
        <div class="row shuffle-wrapper">
            {% for item in site.data.settings.portfolio-items %}
            <div class="col-lg-6 col-6 mb-4 shuffle-item">
                <div class="position-relative rounded hover-wrapper">
                    <img src="{{ site.baseurl }}/{{ item.image }}" alt="portfolio-image"
                         class="img-fluid rounded w-100 d-block">
                    <div class="hover-overlay" onclick="window.open('{{ item.url }}', '_blank');"
                         style="cursor: pointer;">
                        <div class="hover-content">
                            <a class="btn btn-light btn-sm">{{item.portfolio-name}}</a>
                            <span class="btn btn-sm additional-text">{{item.description}}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- /portfolio -->
{% endif %}