{% if site.data.settings.test-section %}
<!-- Test Section -->
<section class="section">
    <div class="container">
        <div class="row justify-content-around">
            <div class="col-lg-12 text-center">
                <h2 class="section-title">Test Section</h2>
            </div>
            {% for test in site.data.settings.test-section %}
            <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
                <img src="{{ test.icon | relative_url }}" class="mb-4" alt="icon">
                <h4 class="mb-4">{{ test.title }}</h4>
                <p>{{ test.content | markdownify }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- ./Test Section -->
{% endif %}
