/* Button style */
.btn {
  font-size: 22px;
  font-family: $secondary-font;
  text-transform: capitalize;
  padding: 16px 44px;
  border-radius: 5px;
  font-weight: 500;
  border: 0;
  position: relative;
  z-index: 1;
  transition: .2s ease;

  &:focus {
    outline: 0;
    box-shadow: none !important;
  }

  &:active {
    box-shadow: none;
  }

  &-sm {
    font-size: clamp(1em, 2vw, 20px);
    padding: 10px 20px;
  }
  &-sm2 {
    font-size: clamp(0.5em, 2vw, 20px);
    padding: 5px 5px;
  }

  &-xs {
    padding: 5px 10px;
    font-size: 15px;
  }
}

.btn-primary {
  background: $primary-color;
  color: $white;

  &:active {
    background: lighten($color: $primary-color, $amount: 10) !important;
  }

  &:hover {
    background: lighten($color: $primary-color, $amount: 10);
  }

  &.focus,
  &.active {
    background: lighten($color: $primary-color, $amount: 10) !important;
    box-shadow: none !important;
  }
}


.btn-transparent {
  background: transparent;
  color: $primary-color;
  font-weight: bold;

  &:active,
  &:hover {
    color: $primary-color;
  }
}

.additional-text {
  font-family: $primary-font;
  display: block;
  font-size: clamp(0.5em, 2vw, 15px);;
  color: $white;
}