@font-face {
    font-family:'bitbit';
    src: url('/assets/fonts/DNFBitBitv2.ttf') format('truetype');
    src: url('/assets/fonts/DNFBitBitv2.otf') format('opentype');
}

@font-face {
    font-family:'Warhaven';
    src: url('/assets/fonts/Warhaven_Bold.ttf') format('truetype');
    src: url('/assets/fonts/Warhaven_OTF_Bold.otf') format('opentype');
    src: url('/assets/fonts/Warhaven_Regular.ttf') format('truetype');
    src: url('/assets/fonts/Warhaven_OTF_Regular.otf') format('opentype');
}

@font-face {
    font-family:'Nexon_Lv1';
    src : url('/assets/fonts/NEXONLv1GothicBold.ttf') format('truetype');
    src : url('/assets/fonts/NEXON Lv1 Gothic OTF Bold.otf') format('opentype');
    src : url('/assets/fonts/NEXONLv1GothicLight.ttf') format('truetype');
    src : url('/assets/fonts/NEXON Lv1 Gothic OTF Light.otf') format('opentype');
    src : url('/assets/fonts/NEXONLv1GothicRegular.ttf') format('truetype');
    src : url('/assets/fonts/NEXON Lv1 Gothic OTF.otf') format('opentype');
}

@font-face {
    font-family:'Nexon_Lv2';
    src : url('/assets/fonts/NEXON Lv2 Gothic Bold.ttf') format('truetype');
    src : url('/assets/fonts/NEXON Lv2 Gothic OTF Bold.otf') format('opentype');
    src : url('/assets/fonts/NEXON Lv2 Gothic Medium.otf') format('truetype');
    src : url('/assets/fonts/NEXON Lv2 Gothic OTF Medium.otf') format('opentype');
}