---
---
/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Project Name
VERSION:	Versoin Number
-------------------------------------------------------------------*/
/*------------------------------------------------------------------
[TABLE OF CONTENTS]
-------------------------------------------------------------------*/
@font-face {
    font-family: 'bitbit';
    src: url('assets\fonts\DNFBitBitTTF.ttf') format('truetype');
    src: url('assets\fonts\DNFBitBitOTF.otf') format('opentype');
}

body {
    font-family: 'bitbit' sans-serif;
}

@import 'variables';

@import 'mixins';

@import 'typography';

@import 'buttons';

@import 'common';

@import 'templates/navigation';

@import 'templates/hero-area';

@import 'templates/homepage';

@import 'templates/blog';

@import 'templates/about';

@import 'templates/portfolio';
